<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (cookiesEnabled) { %>
        <p>Przeglądarka obsługuje ciasteczka!</p>
    <% } else { %>
        <p>Nie wykryto obsługi ciasteczek w przeglądarce.</p>
    <% } %>
    <form action="/test-cookies" method="GET">
        <button type="submit">Sprawdź obsługę ciasteczek</button>
    </form>
    <form action="/" method="GET">
        <button type="submit"">Powrót</button>
    </form>
</body>
</html>